{%- if variant.metafields.custom.winemaking.value != blank -%}


<div class="winemaking-stages">
  {%- assign stages_desc = "" -%}
  {%- assign stages_html = "" -%}
  
  {%- assign color = product.metafields.custom.color.value -%}
  {%- if color == 'Amber' -%}
    {%- assign color = "White" -%}
  {%- endif -%}

  {% comment %}Add viticulture stage for non-conventional vineyards
  {% endcomment %}
  {% if product.metafields.custom.viticulture.value != blank %}  
    <div class="winemaking-stages-block">
      <div class="stages-block__header">Viticulture</div>
      <div class="stages-block__container">
        <div class="winemaking-stage">
          <div class="winemaking-stage__illustration">
            {{ "wm-V.png" | file_url | img_tag }}
            <span>&nbsp;</span>
          </div>
          <div class="winemaking-stage__description">
            {%- assign stage_values = product.metafields.custom.viticulture | downcase | split: " " -%}
            {% for value in stage_values %}
              {%- assign value_stripped = value | strip | lstrip -%}
              {%- if value_stripped != blank -%}
                <span>{{ value_stripped | capitalize }}</span>
              {%- endif -%}
            {%- endfor %}
          </div>  
        </div>  
      </div>  
    </div>  
  {% endif %}
  
  
  {%- assign prev_stage_type = "" -%}
  {%- assign prev_stage_vat = "" -%}
  {%- assign prev_stage_skins = "0%" -%}
  {%- assign prev_stage_stems = "0%" -%}
  {%- assign color_afer_skins = false -%}
  {%- assign color_after_stems = false -%}
  {%- assign implicit_stage = "" -%}
  {%- assign all_stages = "" -%}

  {%- assign wm = variant.metafields.custom.winemaking | downcase -%}
  {%- assign stages = wm | split: "," -%}
  {% for stage in stages %}
    {%  assign stage = stage | strip %}
    {%- assign stage_pic = "wm-" | append: color -%}
    {%- assign stage_type = "" -%}
    {%- assign stage_vat = "" -%}
    {%- assign stage_yeast = "" -%}
    {%- assign stage_skins = "0%" -%}
    {%- assign stage_stems = "0%" -%}
    {%- assign stage_oak = "" -%}
    {%- assign stage_lees = "" -%}
    {%- assign stage_temp = "" -%}
    {%- assign stage_duration = "" -%}


    {%- if stage contains 'ferment' -%}
      {%- assign stage_type = "Fermentation" -%}
    {%- elsif stage contains 'macerat' -%}
      {%- assign stage_type = "Aging" -%}
    {%- elsif stage contains 'aging' or stage contains 'aged' -%}
      {%- assign stage_type = "Aging" -%}
    {%- endif -%}

    {%- if stage_type != blank -%}
      {%- if stage contains 'qvevri' -%}
        {%- assign stage_vat = "Qvevri" -%}
      {%- elsif stage contains 'stainless' or stage contains 'steel' -%}
        {%- assign stage_vat = "Steel" -%}
      {%- elsif stage contains 'oak' or stage contains 'barrel' -%}
        {%- assign stage_vat = "Oak" -%}
      {%- elsif stage contains 'bottle' -%}
        {%- assign stage_vat = "Bottle" -%}
      {%- endif -%}
    {%- endif -%}

    {%- if stage_type == "Fermentation" -%}
      {%- if stage contains 'cultured' -%}
        {%- assign stage_yeast = "Cultured" -%}
      {%- elsif stage contains 'wild' -%}
        {%- assign stage_yeast = "Wild" -%}
      {%- endif -%}
    {%- endif -%}

    {%- if stage_type == "Aging" -%}
      {%- if stage contains 'lees' -%}
        {%- assign stage_lees = "Lees" -%}
      {%- endif -%}
    {%- endif -%}

    {%- assign temp_values = "" -%}
    {%- assign stage_parts = stage | split: ' ' -%}

    {%- for part in stage_parts -%}
      {%- if part contains '째' -%}
        {%- assign clean_part = part | remove: '째c' | remove: '째C' -%}
        {%- if temp_values == "" -%}
          {%- assign temp_values = clean_part -%}
        {%- else -%}
          {%- assign temp_values = temp_values | append: "-" | append: clean_part -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if temp_values != "" -%}
      {%- assign stage_temp = temp_values | append: "째C" -%}
    {%- endif -%}

    {%- assign found_skins = false -%}
    {%- assign found_stems = false -%}
    {%- assign found_oak = false -%}
    
    {%- assign previous_part = "" -%}
    {%- for part in stage_parts -%}
      {%- if part contains 'skins' -%}
        {%- assign found_skins = true -%}
        {%- assign word_before_skins = previous_part -%}
      {%- elsif part contains 'stems' -%}
        {%- assign found_stems = true -%}
        {%- assign word_before_stems = previous_part -%}
      {%- elsif part contains 'oak' -%}
        {%- assign found_oak = true -%}
        {%- assign word_before_oak = previous_part -%}
      {%- elsif part contains 'day' or part contains 'month' or part contains 'year' or part contains 'week' -%}
        {%- assign stage_duration = previous_part | append: " " | append: part -%}
      {%- endif -%}
      {%- assign previous_part = part -%}
    {%- endfor -%}

    {%- if found_skins == true -%}  
      {%- if word_before_skins == 'with'  or word_before_skins == 'full' or word_before_skins == 'on'-%}
        {%- assign stage_skins = "100%" -%}
      {%- elsif word_before_skins == 'without' or word_before_skins == 'no' -%}
        {%- assign stage_skins = "0%" -%}
      {%- elsif word_before_skins contains '%' -%}
        {%- assign stage_skins = word_before_skins -%}
      {%- endif -%}
    {%- endif -%}
   
    {%- if found_stems == true -%}  
      {%- if word_before_stems == 'with' -%}
        {%- assign stage_stems = "100%" -%}
      {%- elsif word_before_stems == 'and' -%}
        {%- assign stage_stems = stage_skins -%}
      {%- elsif word_before_stems == 'ripe' -%}
        {%- assign stage_stems = "ripe" -%}
      {%- elsif word_before_stems == 'without' or word_before_stems == 'no' -%}
        {%- assign stage_stems = "0%" -%}
      {%- elsif word_before_stems contains '%' -%}
        {%- assign stage_stems = word_before_stems -%}
      {%- endif -%}
    {%- endif -%}

    {%- if stage_vat == 'Oak' and found_oak == true -%}  
      {%- if word_before_oak == 'used' or word_before_oak == 'new' or word_before_oak == 'french' or word_before_oak == 'caucasian' -%}
        {%- assign stage_oak = word_before_oak -%}
        {%- if stage_oak != 'used'  %}
          {%- if stage contains 'not new' or stage contains 'used' -%}  
            {%- assign stage_oak = 'used ' | append: word_before_oak -%}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}


    {% comment %} If skins and stems not mentioned explicitly for Red Fermentation we should set it to 100%
    {% endcomment %}
      

    {% comment %} If skins and stems not mentioned explicitly we make different assumptions
    {% endcomment %}
    {% if found_skins != true and found_stems != true %} 
      {% comment %} If skins and stems not mentioned explicitly for Red or Rose Fermentation we should set it to 100%
      {% endcomment %}
      {% if stage_type == "Fermentation" and color == 'Red' %}
        {%- assign stage_skins = "100%" -%}
      {%- else -%}
        {% comment %} When moving from qvervi stage to another qvevri stage, we set them to the previous stage values
        {% endcomment %}
        {% if stage_vat == "Qvevri" and prev_stage_vat == "Qvevri" %}
          {%- assign stage_skins = prev_stage_skins -%}
          {%- assign stage_stems = prev_stage_stems -%}       
        {% else %}
          {% comment %} Otherwise we set them to 0%
          {% endcomment %}
          {%- assign stage_stems = "0%" -%}
          {%- assign stage_skins = "0%" -%}
        {% endif %}
      {% endif %}
    {% endif %}
    
    {% assign stage_type_short = stage_type | slice: 0, 1 %}
    {% assign stage_pic = stage_pic | append: stage_type_short %}
    {% assign stage_vat_short = stage_vat | slice: 0, 1 %}
    {% assign stage_pic = stage_pic | append: stage_vat_short %}
    {% if stage_lees != blank  %}
      {% assign stage_pic = stage_pic | append: "lees" %}
      {% if color == 'White'  %}
        {% if color_after_stems == true  %}
          {% assign stage_pic = stage_pic | append: "AfterStems" %}
        {% elsif color_afer_skins == true %}
          {% assign stage_pic = stage_pic | append: "AfterSkins" %}
        {% endif %}
      {% endif %}
    {% elsif stage_stems != "0%" %}
     {%- assign color_after_stems = true -%}
     {% assign stage_pic = stage_pic | append: "stems" %}
    {% elsif stage_skins != "0%" %}
     {%- assign color_afer_skins = true -%}
     {% assign stage_pic = stage_pic | append: "skins" %}
    {% elsif color == 'White' %}
      {% if color_after_stems == true %}
        {% assign stage_pic = stage_pic | append: "AfterStems" %}
      {% elsif color_afer_skins == true %}
        {% assign stage_pic = stage_pic | append: "AfterSkins" %}
      {% endif %}
    {% endif %}

    {% assign stage_pic = stage_pic | append: ".png" %}
         

    {%- if stage_type != blank and stage_pic != blank -%}
    
      {%- if color == "White" or color == "Red" or color == "Rose"-%}
        
          <div class="winemaking-stages-block">
            <div class="stages-block__header">{{ stage_type }}</div>
            <div class="stages-block__container">
              <div class="winemaking-stage">
                <div class="winemaking-stage__illustration">
                  {{ stage_pic | file_url | img_tag }}
                  {%- if stage_duration != blank -%}
                    <span>{{ stage_duration }}</span>
                  {%- else -%}
                    <span>&nbsp;</span>
                  {% endif %}
                </div>
                <div class="winemaking-stage__description">
                  {%- if stage_type == "Fermentation" and stage_yeast != blank -%}
                    <span>{{ stage_yeast }} yeast</span>
                  {%- endif -%}
                  {%- if stage_temp != blank -%}
                    <span>{{ stage_temp }}</span>
                  {%- endif -%}
                  {%- if stage_oak != '' -%}
                    <span>{{ stage_oak | capitalize }} oak</span>
                  {%- endif -%}
                  {%- if stage_skins != '0%' or prev_stage_skins != stage_skins or color_afer_skins == true -%}
                    <span>{{ stage_skins | capitalize }} skins</span>
                  {%- endif -%}
                  {%- if stage_stems != '0%' or prev_stage_stems != stage_stems or color_after_stems == true -%}
                    <span>{{ stage_stems | capitalize }} stems</span>
                  {%- endif -%}
                  {%- if stage_lees != blank -%}
                    <span>On the lees</span>
                  {%- endif -%}
                  
                </div>  
              </div>  
            </div>  
          </div>  
        
      {%- endif -%}

      {% assign stages_desc = stage_type | append: "," | append: stage_vat | append: "," | append: stage_yeast | append: "," | append: stage_skins | append: "," | append: stage_stems | append: "," | append: stage_lees | append: "," | append: stage_duration | append: "," | append: stage_temp | append: "," | append: stage_pic | append: "|" %}
      {% assign all_stages = all_stages | append: stages_desc %}

    {%- endif -%}

    {%- if stage_type == "" -%}
      {% comment %} If stage type is not defined, we consider it just as a word or a phrase that has to be collected and handled in the final stage
      {% endcomment %}
      {% assign implicit_stage = implicit_stage | append: stage | append: "," %}
    {%- else -%}
      {% comment %} If we found the corerct stage, then clear the final stage, collecting only the endings
      {% endcomment %}
      {% assign implicit_stage = "" %}
    {%-endif -%}
    
    {%- assign prev_stage_type = stage_type -%}
    {%- assign prev_stage_vat = stage_vat -%}
    {%- assign prev_stage_skins = stage_skins -%}
    {%- assign prev_stage_stems = stage_stems -%}
    
  {% endfor %}

  {% comment %}Don't show bottling stage for Sparlking, no images so far
  {% endcomment %}
  {% unless product.tags contains 'Sparkling' %}
    {% assign implicit_stage = implicit_stage | downcase %}
    {% assign all_stages = all_stages | append: "Final" | append: "," | append: implicit_stage %}
    {% assign stage_pic = "wm-" | append: color | append: "AB" %}
    {% if color == 'White' %}
      {% if color_after_stems == true %}
        {% assign stage_pic = stage_pic | append: "AfterStems" %}
      {% elsif color_afer_skins == true %}
        {% assign stage_pic = stage_pic | append: "AfterSkins" %}
      {% endif %}
    {% endif %}
    {% assign stage_pic = stage_pic | append: ".png" %}
    
    
  
    {%- assign stage_values = implicit_stage | split: "," -%}
    <div class="winemaking-stages-block">
      <div class="stages-block__header">Bottling</div>
      <div class="stages-block__container">
        <div class="winemaking-stage">
          <div class="winemaking-stage__illustration">
            {{ stage_pic | file_url | img_tag }}
            <span>&nbsp;</span>
          </div>
          <div class="winemaking-stage__description">
            {% if product.tags contains 'Women Winemakers' %}
              <span>Woman made</span>
            {%- endif -%}
            {%- if product.metafields.custom.natural.value == "Yes" -%}
              {% unless implicit_stage contains "natural" %}
                <span>Natural wine</span>
              {% endunless %}
            {%- endif -%}         
            {%- if product.metafields.custom.unfiltered.value == "Yes" -%}
              {% unless implicit_stage contains "unfiltered" %}
                <span>Unfiltered</span>
              {% endunless %}
            {%- endif -%}         
            
            {% for value in stage_values %}
              {%- assign value_stripped = value | strip | lstrip -%}
              {%- if value_stripped != blank -%}
                <span>{{ value_stripped | capitalize }}</span>
              {%- endif -%}
            {%- endfor %}
          </div>  
        </div>  
      </div>  
    </div>  
  
  {% endunless %}  

{% comment %}
  I considered to build a common parameter list to pass it to enlarged popup, but the code is too complicated,
  instead just build the final block
  
  {%- assign stages_parsed = all_stages | split: "|" -%}
  {% for stage in stages_parsed %}

    {%- assign stage_type = "" -%}
    {%- assign stage_vat = "" -%}
    {%- assign stage_yeast = "" -%}
    {%- assign stage_skins = "0%" -%}
    {%- assign stage_stems = "0%" -%}
    {%- assign stage_lees = "" -%}
    {%- assign stage_temp = "" -%}
    {%- assign stage_duration = "" -%}
    {%- assign stage_pic = "" -%}
    {%- assign counter = 1  %}

    {%- assign stage_values = stage | split: "," -%}
    {% for stage_value in stage_values  %}

      {% case counter %}
      {% when 1 %}
        {%- assign stage_type = stage_value -%}
      {% when 2 %}
        {%- assign stage_vat = stage_value -%}
      {% when 3 %}
        {%- assign stage_yeast = stage_value -%}
      {% when 4 %}
        {%- assign stage_skins = stage_value -%}
      {% when 5 %}
        {%- assign stage_stems = stage_value -%}
      {% when 6 %}
        {%- assign stage_lees = stage_value -%}
      {% when 7 %}
        {%- assign stage_temp = stage_value -%}
      {% when 8 %}
        {%- assign stage_duration = stage_value -%}
      {% when 9 %}
        {%- assign stage_pic = stage_value -%}
      {% endcase %}
      
      {%- assign counter = counter | plus: 1 -%}
    {% endfor %}

    {% if stage_type == "Final" %}
      {% assign stage_pic = "wm-" | append: color | append: "AB.png" %}
    {% endif %}

    
    {%- if stage_type != blank and stage_pic != blank -%}
      {%- if color == "White" or color == "Red" or color == "Rose"-%}
        
          <div class="winemaking-stages-block">
            <div class="stages-block__header">{{ stage_type }}</div>
            <div class="stages-block__container">
              <div class="winemaking-stage">
                <div class="winemaking-stage__illustration">
                  {{ stage_pic | file_url | img_tag }}
                  {%- if stage_duration != blank -%}
                    <span>{{ stage_duration }}</span>
                  {%- else -%}
                    <span>&nbsp;</span>
                  {% endif %}
                </div>
                <div class="winemaking-stage__description">
                  {%- if stage_type == "Fermentation" and stage_yeast != blank -%}
                    <span>{{ stage_yeast }} yeast</span>
                  {%- endif -%}
                  {%- if stage_temp != blank -%}
                    <span>{{ stage_temp }}</span>
                  {%- endif -%}
                  {%- if stage_skins != '0%' or color_afer_skins == true -%}
                    <span>{{ stage_skins }} skins</span>
                  {%- endif -%}
                  {%- if stage_stems != '0%' or color_after_stems-%}
                    <span>{{ stage_stems }} stems</span>
                  {%- endif -%}
                </div>  
              </div>  
            </div>  
          </div>  
        
      {%- endif -%}
    {%- endif -%}


    

  {% endfor %}
{% endcomment %}
  
</div>

{% comment %}
{{ all_stages }}
{% endcomment %}

{%- endif -%}
