{{ 'cloud-zoom.css' | asset_url | stylesheet_tag}}  
{% comment %}
Temporary commented to check app work with jquery
<script src="{{ 'jquery.js' | asset_url }}" defer></script>
{% endcomment %}
<script src="{{ 'cloud-zoom.1.0.2.min.js' | asset_url }}" defer></script>
<script src="https://www.vivino.com/external/vivino-widgets.js" type="text/javascript" async></script>
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
<style type="text/css">

  h1.page_title {
    display: none;
  }
  
  .zoom-section {
    float: left;
    width: 100%;   
  }
  
  .cloud-zoom-gallery.product-single__thumbnail {
    max-width: 100%;
    width: 100%;
    float: left;
    position: relative;
  }
  .zoom-tiny-image {
    max-width: 100%;
  }
  .zoom-desc{float:left;width:auto;}
  .zoom-small-image {
    float: left;
    overflow: hidden;
  }
  .zoom-tiny-image {
    border: 1px solid var(--color-base-border);
    margin: 0px;
  }
  .mousetrap { 
    display: block !important;  
  }

</style>


{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="page-width">
  <div class="product grid grid--1-col grid--2-col-tablet {% if product.tags contains 'Staff Pick' %}staff-pick-badge{% endif %}">
    <div class="grid__item product__media-wrapper">
      <slider-component class="slider-mobile-gutter">
		<a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
          {% if product.media.size == 0 %}
            <li class="product__media-item grid__item">
              <img 
                src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/noimg.svg"
                loading="lazy"
                width="100%"
                height="100%"
                alt="no image"
              >
            </li>
          {% endif %}
        </ul>
        {% if product.media.size >= 2 %}
        <div class="slider-buttons slider-buttons--overlay no-js-hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-navigation' %}</button>
           <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ product.media.size | plus: 1 }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-navigation' %}</button>
        </div>
        {% endif %}
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        
            

      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'text' -%}
          <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">
            {{- block.settings.text -}}
          </p>

          
        {%- when 'title' -%}
          <h1 class="product__title">
            {{ product.title | escape }}
          </h1>
            

        {%- when 'rating' -%}
          {% comment %}
          Блокируем базовый функционал рейтинга     
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating reviews" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                 <p class="rating-count">
                  <span class="visually-hidden">({{ product.metafields.reviews.rating_count }})</span>
                  <span aria-hidden="true">({{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }})</span>
                </p>
             </div>
         {%- else -%}
           <div class="rating reviews" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product_card_product.metafields.reviews.rating.value, rating_max: product_card_product.metafields.reviews.rating.value.scale_max }}">
              <span aria-hidden="true" class="rating-star-empty color-icon-{{ settings.accent_icons }}" style="--rating: {{ product_card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product_card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
            <p class="rating-count">
              <span class="visually-hidden">({{ product_card_product.metafields.reviews.rating_count }})</span>
              <span aria-hidden="true">({{ product_card_product.metafields.reviews.rating_count }} {{ "accessibility.no_reviews" | t }})</span>
            </p>
            </div>
          {%- endif -%}
       {% endcomment %}
        
        
          {%- when 'type' -%}
            <div class="product__type alt-type--tags">
              <b>{{ 'products.product.type' | t }}:</b> {{ product.type | escape }}
            </div>
         
          {%- when 'vendor' -%}
              {% comment %}
               Вернуть класс в блок ниже, если будут проблемы с разметкой.
               Отключен, чтобы убрать сдвиг вправо названия вендора
               <span class="product-vendor_name">{{ 'products.product.vendor' | t }}</span> 
              {% endcomment %}

            {% comment %}
            Не выводим отдельно Вендора. Вендор плюсуем к Титлу
            <div class="product__type">
               <span>{{ 'products.product.vendor' | t }}</span> 
              {% assign coll_titles = product.collections| map: 'title' %}
              {% if coll_titles contains product.vendor %}
              	<a href="{{shop.url}}/collections/{{ product.vendor|handle}}">{{product.vendor}}</a>
              {% else%}
              	{{ product.vendor | link_to_vendor }}
              {% endif %}
            </div>
            {% endcomment %}
    
         {%- when 'sku_info' -%}
          {% if product.selected_or_first_available_variant.sku != blank %}
           <div class="product__type">
           <span class="sku-name">{{'products.product.sku' | t }}</span>: <span class="js-variant-sku">{{ product.selected_or_first_available_variant.sku | default:product.sku }}</span>                                         
           </div>
         {% endif %}
           
         {%- when 'tag_name' -%}
         <div class="product__type alt-type--tags">
           <b>{{'products.product.tags' | t }}:</b> <span>{% for tag in product.tags %} <a class="tag" href="{{routes.search_url}}?q={{ tag }}">{{ tag }}</a>&nbsp; {% endfor %}</span>
         </div>
        
        <script>
        {% comment %} Variant Inventory tracking on product page {% endcomment %}
            window._VARIANTS = {};
            window._VARIANT_QUANTITIES = '';
            {% for variant in product.variants %}
              window._VARIANTS[{{ variant.id }}] = {{ variant.inventory_quantity }}
              {% comment %} Хотел показывать остатки по всем винтажам сразу, не получилось построить строку
                {% if variant.inventory_quantity > 0 %}
                  window._VARIANT_QUANTITIES = window._VARIANT_QUANTITIES + '55' + variant.inventory_quantity;                                                    
                {% endif %}
              {% endcomment %}
            {% endfor %}
        </script>
        {%- when 'availability' -%}
{% comment %} Отключим старый код Availability и будем показывать свой ниже
          	<span class="availability">{{'products.product.Availability' | t }}</span>: <span class="js-variant-availability">{%- if product.available -%}In Stock{%- else -%}Out Of Stock{%- endif -%}
            </span>
{% endcomment %}
        <div class="product__type">
          	<b>Quantity in Stock</b>: <span class="js-variant-quantityInStock">{{product.selected_or_first_available_variant.inventory_quantity}} {{window._VARIANT_QUANTITIES}}</span>
        </div>


         
         {%- when 'collections' -%}
           <div class="product__type collections">
          	<span class="collections">{{'products.product.Collections' | t }}</span>: <span>{% for collection in product.collections %}{{ collection.title  | link_to: collection.url  }}, {% endfor %}</span>
          </div>

        
        {%- when 'price' -%}
          <div class="price-product">
            <div class="product-price" id="price-{{ section.id }}">
              {% comment %} Прячем цену {% endcomment %}
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'alt__price' -%}
            </div>
          </div>
        
        {% assign current_vintage = product.selected_or_first_available_variant %}
        {% assign alcohol_level = product.metafields.custom.alcohol %}
        {%-  if current_vintage.metafields.custom.alcohol.value != blank -%}
          {% assign alcohol_level = current_vintage.metafields.custom.alcohol.value %}
        {%-  endif -%} 
            
        {% comment %} Просто встроим этот блок кода под ценой {% endcomment %}
        <div class="product-sp-cover-box">    
          <div class="product-cover-wine">  
            
            <div class="product_type">
              <span class="product-wine-type">
                {{ product.metafields.custom.sweetness }} {{ product.metafields.custom.color }} | Alc.&nbsp;{{ alcohol_level }}% | Vol.&nbsp;{{ product.metafields.custom.volume}}</span>
              </span>
            </div>

            <div class="product_type">
              <b>Winery:</b>
              {{ 'products.product.vendor' | t }}
              {% assign coll_titles = product.collections| map: 'title' %}
              {% if coll_titles contains product.vendor %}
                <a href="{{shop.url}}/collections/{{ product.vendor|handle}}">{{product.vendor}}</a>
              {% else%}
                {{ product.vendor | link_to_vendor }}
              {% endif %}
            </div>
            
            <div class="product_type">
              {% assign coll_titles = product.collections| map: 'title' %}
              {%- if product.metafields.custom.region.value != blank -%}
                <b>Region:</b>
                {% if coll_titles contains product.metafields.custom.region %}
                  <a href="{{shop.url}}/collections/{{ product.metafields.custom.region|handle}}">{{product.metafields.custom.region}}</a>
                {% else%}
                  {{ product.metafields.custom.region }}
                {% endif %}
                {%- if product.metafields.custom.pdo.value != blank -%}
                  &ndash;
                  {% if coll_titles contains product.metafields.custom.pdo %}
                    <a href="{{shop.url}}/collections/{{ product.metafields.custom.pdo|handle}}">{{product.metafields.custom.pdo}} PDO</a>
                  {% else%}
                    {{ product.metafields.custom.pdo }} PDO
                  {% endif %}
                {% else%}
                  {%- if product.metafields.custom.subregion != blank -%}
                    &ndash; <a href="{{shop.url}}/collections/all?filter.p.m.custom.subregion={{ product.metafields.custom.subregion }}">{{product.metafields.custom.subregion}}</a>
                  {%- endif %}
                {%- endif %}
                {%- if product.metafields.custom.village != blank -%}
                  &ndash; 
                  {% assign village_count = 0 %}
                  {% for village in product.metafields.custom.village.value %}
                    {% if village_count != 0 %}
                      ·
                    {% endif %}  
                      <a href="{{shop.url}}/collections/all?filter.p.m.custom.village={{ village }}">{{village}}</a>
                    {% assign village_count = village_count | plus: 1 %}                      
                  {% endfor %}
                {%- endif %}
              {%- endif %}
            </div>
            
            <div class="product_type">   
              {%- if product.metafields.custom.grapes.value != blank -%}
                {%  assign grape_percentage = product.metafields.custom.grape_percentage.value | reverse | reverse %} 
                <b>{{-"Grape:"-}}</b>
                {% assign grape_count = 0 %}
                {% for grape in product.metafields.custom.grapes.value %}
                  {% if grape_count != 0 %}
                    ·
                  {% endif %}  
                  {% if coll_titles contains grape %}
                    <a href="{{shop.url}}/collections/{{ grape |handle}}">{{grape}}</a>
                  {% else%}
                    {{grape}}
                  {% endif %}
                  {%- if grape_percentage[grape_count] != blank -%}
                    {{ grape_percentage[grape_count] }}%
                  {%- endif %}
                  {% assign grape_count = grape_count | plus: 1 %}                      
                {% endfor %}                  
              {%- endif %}
            </div>
          </div>
        </div>    

        {% comment %} Поднятая секция DESCRIPTION {% endcomment %}  
          {%- if product.description != blank -%}
            <div class="product-alt-top-description">
              {{ product.description }}   
            </div>
          {%- endif -%}    
            
            {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
        
           {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                  {{ product.description | truncate: 220  }} 
              </div>
            {%- endif -%}
        
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion">
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
            </div>
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity">
              {% comment %} Add information about quantities 
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>          
              {% endcomment %}
              {% comment %} Add information about quantities {% endcomment %}
              <div class="form__label" for="Quantity-{{ section.id }}">
                <span>
                  <b>Quantity</b>
                  <span class="show-box">
                    <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-info.svg">
                	<div class="hidden-box">
                		<p>When placing an order, we recommend making the total number of ordered products a multiple of:</p>
              			<p><b>150 bottles</b>&nbsp;&ndash;&nbsp;1/4 pallet<br>
              			<b>300 bottles</b>&nbsp;&ndash;&nbsp;1/2 pallet<br>
              			<b>600 bottles</b>&nbsp;&ndash;&nbsp;1 pallet</p>
              			In this case, the capability of finding the optimal logistics solution is higher. You can surely order any other quantity, but be prepared that then the delivery cost per unit can happen to be higher.</p>
                	</div>
                  </span>
                </span>
              </div>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>        
            
            </div>

          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{% render 'icon-pop-up' %}{{ block.settings.link_label | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>

          {%- when 'share' -%}
            <share-button class="share-button">
              <button class="share-button__button button hidden">
                <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-share.svg" alt="">
                {{ 'general.share.share' | t }}
              </button>
              <details>
                <summary class="share-button__button button button--tertiary">
                  {% render 'icon-share' %}
                  {{ 'general.share.share' | t }}
                </summary>
                <div class="share-button__fallback">
                  <div class="field">
                    <input type="text"
                    class="field__input"
                    id="url"
                    value="{{ shop.url | append: product.url }}"
                    placeholder="{{ 'general.share.share_url' | t }}"
                    onclick="this.select();"
                    readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="button button--tertiary">
                    {% render 'icon-clipboard' %}
                  </button>
                  <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                    {{ 'general.share.success_message' | t }}
                  </span>
                </div>
              </details>
            </share-button>
          <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                          {% comment %} Отсекаем временные варианты, созданные приложением для корзины, они все имеют вид "2020 (T#QRRGEMX)" поэтому пока ограничим 5 символами {% endcomment %}
                          {% if value.size < 6 %}
                            <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="product-form-{{ section.id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                            <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {% endif %}
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}


            <!-- alt -->
            <div class="product-sp-cover-box">
              <div class="product-icon-specifications">
               {% case product.metafields.custom.viticulture.value %}
                  {% when 'Organic' %}
                    <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organic.svg" title="Organic Vineyard">
                  {% when 'Organic Certified' %}
                    <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organiccert.svg" title="Certified Organic Vineyard">
                  {% when 'Biodynamic' %}
                    <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bd.svg" title="Biodynamic Vineyard">
                  {% when 'Biodynamic Certified' %}
                    <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bdcert.svg" title="Certified Biodynamic Vineyard">
                {% endcase %}
                {%- if product.metafields.custom.qvevri.value == "Yes" -%}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-qvevri.svg" title="Qvevri">
                {%- endif -%}         
                {%- if product.metafields.custom.natural.value == "Yes" -%}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-natural.svg" title="Natural">
                {%- endif -%}         
                {%- if product.metafields.custom.unfiltered.value == "Yes" -%}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-unfiltered.svg" title="Unfiltered">
                {%- endif -%}         
                {%- if product.metafields.custom.agedinbarrel.value == "Yes" -%}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-agedinoak.svg" title="Aged in oak barrels">
                {%- endif -%}         
                {%- if product.metafields.custom.pdo.value != blank -%}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-pdo.svg" title="Protected Designation of Origin">   
                {%- endif -%}
                {% if coll_titles contains 'Women Winemakers' %}
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-vwoman.svg" title="Women Winemakers">   
                {%- endif -%}
              </div>     
              {% comment %}
               Показываем рейтинг Vivino вместо стандартного, по коду винтажа из страницы продукта Vivino
               product.metafields.custom.vivinovintageid.value - Открыть Page Source страницы продукта Vivino и скопировать datalayer "vintage_id"
              {% endcomment %}
              {%- if product.metafields.custom.vivinovintageid.value != blank -%}
                <div class="vivino-widget vivino-wine-card-widget" data-vivino-widget-type="wine"
                    data-vivino-vintage-id="{{ product.metafields.custom.vivinovintageid.value}}" data-vivino-user-id="43039615" data-vivino-widget-language="en" data-vivino-widget-layout="small"><a href="" target="_blank"></a></div>
              {%- endif -%}    
            </div>
            <!-- end alt -->  
              

            <!-- alt description -->
            <div class="product-alt-description">
              {% for variant in product.variants %}
                {% if product.selected_or_first_available_variant.id == variant.id %}
                  {%- if variant.metafields.custom.viticulture.value != blank -%}
                    <p><b>Viticulture: </b>{{ variant.metafields.custom.viticulture }}</p>
                  {%- endif -%}
                  {%- if variant.metafields.custom.winemaking.value != blank -%}
                    <p><b>Winemaking: </b>{{ variant.metafields.custom.winemaking }}</p>
                  {%- endif -%}
                  {%- if variant.metafields.custom.bouquet.value != blank -%}
                    <p><b>Aromas: </b>{{ variant.metafields.custom.bouquet }}</p>
                  {%- endif -%}
                  {%- if variant.metafields.custom.taste.value != blank -%}
                    <p><b>Taste: </b>{{ variant.metafields.custom.taste }}</p>
                  {%- endif -%}
                  {%- if variant.metafields.custom.production_in_bottles.value != blank -%}
                    <p><b>Bottles produced: </b>{{ variant.metafields.custom.production_in_bottles }}</p>
                  {%- endif -%}
                {% endif %}
              {% endfor %}
            </div>
            <!-- end alt description  -->

          
            <noscript>
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

          
            {%- when 'buy_buttons' -%}
              <product-form class="product-form">
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    </button>
                    
                  </div>
                <div class="product-form__buttons_buy">
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>
          
          	<div class="product-com-wish">
            	  <button type="button" aria-label="Add to wishlist" class="button" button-wishlist data-product-handle="{{ product.handle }}">
                  <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-cmheart.svg" alt="">
                  ADD TO WISHLIST&nbsp;&amp;&nbsp;SAMPLES
                  <!--{{'products.product.add_to_wishlist' | t }}-->
                </button>
             </div>


            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

            <pickup-availability class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </pickup-availability-preview>
              </template>
            </pickup-availability>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- endcase -%}
        {%- endfor -%}


        {%- if product.metafields.custom.vivinovintageid.value != blank -%}
          <div class="vivino-widget vivino-widget-wine alt--vivino-widjet" data-vivino-widget-type="wine" data-vivino-vintage-id="{{ product.metafields.custom.vivinovintageid.value}}" data-vivino-user-id="43039615" data-vivino-widget-language="en" data-vivino-widget-featured-description="true" data-vivino-widget-layout="big"><a href="" target="_blank"></a></div>
        {%- endif -%}



        
      </div>

    </div>
          
  </div>

  {%- render 'cart-notification' -%}

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
                  
              src="{{ media.preview_image | img_url: '809x' }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
              data-media-id="{{ media.id }}"
            >
          {%- else -%}
            {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
              <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
            {%- endif -%}

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                  {%- if media.media_type == 'model' -%}
                    {%- render 'icon-3d-model' -%}
                  {%- else -%}
                    {%- render 'icon-play' -%}
                  {%- endif -%}
                </span>
                <img
                  srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                          {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                  src="{{ media | img_url: '550x550' }}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                  loading="lazy"
                  width="576"
                  height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                  alt="{{ media.preview_image.alt | escape }}"
                >
              </button>
              <template>
                {%- case media.media_type -%}
                {%- when 'external_video' -%}
                  {%- assign video_class = 'js-' | append: media.host -%}
                  {%- if media.host == 'youtube' -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- else -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- endif -%}
                {%- when 'video' -%}
                  {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
                {%- when 'model' -%}
                  {{ media | media_tag: image_size: "2048x", toggleable: true }}
                {%- endcase -%}
              </template>

            {%- if media.media_type == 'model' -%}
                </product-model>
                <button
                  class="button button--full-width product__xr-button"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="title"
                  data-shopify-xr-hidden
                  >
                  {% render 'icon-3d-model' %}
                  {{ 'products.product.xr_button' | t }}
                </button>
              </div>
            {%- else -%}
              </deferred-media>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal">
      <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}

                  
</section>

</div>






                  
<script>

  $(document).ready(function() {
    $('.product-single__description ul.tabs').each(function() {
        var active, content, links = $(this).find('a');
        active = links.first().addClass('active');
        content = $(active.attr('href'));
        links.not(':first').each(function() {
            $($(this).attr('href')).hide()
        });
        $(this).find('a').click(function(e) {
            active.removeClass('active');
            content.hide();
            active = $(this);
            content = $($(this).attr('href'));
            active.addClass('active');
            content.show();
            return !1
        })
    })
    
     
     $(".product__accordion summary").on('click',function (event) {
            event.stopPropagation();
      		$(this).closest('div').find('.accordion__content').slideToggle(800);		
      		$(this).closest('div').toggleClass('active');            		
     });
});
</script>

{% javascript %}

 class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
     { 
      "type": "type",
      "name": "t:sections.main-product.blocks.type.name",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "t:sections.main-product.blocks.vendor.name",
      "limit": 1
    },
    {
      "type": "sku_info",
      "name": "t:sections.main-product.blocks.sku_info.name",
      "limit": 1
    },
    {
      "type": "availability",
      "name": "t:sections.main-product.blocks.availability.name",
      "limit": 1
    },
    {
      "type": "tag_name",
      "name": "t:sections.main-product.blocks.tag_name.name",
      "limit": 1
    },
    {
      "type": "collections",
      "name": "t:sections.main-product.blocks.collections.name",
      "limit": 1
    },
	{
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
 		{
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header_1.content"
      },
	{ 
        "type": "text",
        "id": "description_title",
        "label": "t:sections.main-product.settings.description_title.label",
        "default": "Description"
      },
  	  { 
        "type": "text",
        "id": "review_title",
        "label": "t:sections.main-product.settings.review_title.label",
        "default": "Reviews"
      }
  ]
}
{% endschema %}
