{% if collection.metafields.custom.type == 'Grape Red' %}
  <li class="grapes-list__item grape--red" title="Red grape">
{% endif %}
{% if collection.metafields.custom.type == 'Grape White' %}
  <li class="grapes-list__item grape--white" title="White grape">
{% endif %}
  <a href="/collections/{{ collection.handle }}">
    {% if collection.image %}
      <img src="{{ collection | image_url }}" alt="{{ collection.title }}" />
    {% endif %}
      <div class="grapes-list__item-title">{{ collection.title }}</div>
      <div class="grapes-list__item-count">{{ collection.all_products_count }}<span>item{% if collection.all_products_count > 1 %}s{% endif %}</span></div>
  </a>
</li>