{% comment %}
Renders a product card

Accepts:
- product_card_product: {Object} Product Liquid object (optional)
- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
- add_image_padding: {Boolean} Enables padding on the image to space out the grid
- show_vendor: {Boolean} Show the product vendor. Default: false

Usage:
{% render 'product-card', show_vendor: section.settings.show_vendor %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{% endcomment %}




<div class="card-wrapper" onclick="location.href='{{ product_card_product.url | default: '#' }}';">


    {% assign coll_titles = product_card_product.collections| map: 'title' %}

    <div class="card-img">
      <span class="visually-hidden">{{ product_card_product.title | escape }}</span>
                                                                    
      <div class="card card--product" tabindex="-1">  
        <div class="card__inner{% if product_card_product.tags contains 'Staff Pick' %} staff-pick-badge{% endif %}">
        
          <div class="product_card__vintage">
            {% comment %} Отсекаем временные варианты, созданные приложением для корзины, они все имеют вид "2020 (T#QRRGEMX)" поэтому пока ограничим 5 символами {% endcomment %}
            {%  assign inventory_total = 0 %}
            {% assign today_date = 'now' | date: '%s' %}
            {% for variant in product_card_product.variants %}
              <div class="card-vintage__block">
                {%- if variant.title.size < 6 -%}
                  <div class="card-vintage-title">{{ variant.title }}</div>
                  {% assign inventory_total = inventory_total | plus: variant.inventory_quantity %}
                  {%- if variant.inventory_quantity == 0 -%}
                    <div class="card-vintage-soldout">Sold Out</div>
                  {%  else  %}
                    {% if variant.metafields.custom.release_date != blank %}
                      {% assign release_date = variant.metafields.custom.release_date | date: '%s' %}
                      {% if release_date > today_date %} 
                        <div class="card-vintage-preorder" title="PRE-ORDER {{ variant.metafields.custom.release_date | date: "%e %B %Y" }} Release">Pre-Order</div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}

                {%- if variant.metafields.custom.award.value != blank -%}
                  <div class="card-block-award">
                    <div class="card-award__item">
                      <img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-awards.svg" alt="Wine Awards" title="Wine Awards available""> 
                    </div>
                  </div>  
                {%- endif -%}

              </div>  
            {% endfor %}
          </div>

         {% assign wine_icons_bg = "" %} 
         {% assign wine_icons_ht = 0 %} 
         {%- if product_card_product.metafields.custom.viticulture.value != blank -%}
           {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
           {%- case product_card_product.metafields.custom.viticulture.value -%}
              {%- when 'Organic' -%}
                {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organic.svg)" %}
              {%- when 'Organic Certified' -%}
                {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organiccert.svg)" %}
              {%- when 'Biodynamic' -%}
                {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bd.svg)" %}
              {%- when 'Biodynamic Certified' -%}
                {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bdcert.svg)" %}
            {%- endcase -%}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}
          {%- if product_card_product.metafields.custom.agedinbarrel.value == "Yes" -%}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-agedinoak.svg)" %}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}         
          {%- if product_card_product.metafields.custom.qvevri.value == "Yes" -%}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-qvevri.svg)" %} 
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}         
          {%- if product_card_product.metafields.custom.natural.value == "Yes" -%}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-natural.svg)" %}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}         
          {%- if product_card_product.metafields.custom.unfiltered.value == "Yes" -%}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-unfiltered.svg)" %}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}         
          {%- if product_card_product.metafields.custom.pdo.value != blank -%}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-pdo.svg)" %}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}
          {% if coll_titles contains 'Women Winemakers' %}
            {%- if  wine_icons_bg != "" %} {% assign wine_icons_bg = wine_icons_bg | append: ", " %}{%- endif -%}         
            {% assign wine_icons_bg = wine_icons_bg | append: "url(https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-vwoman.svg)" %}
            {% assign wine_icons_ht = wine_icons_ht | plus: 34 %} 
          {%- endif -%}
            
          {% assign default_image ="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/noimg.svg" %}
          {%- if product_card_product.featured_media -%}
            {%- liquid
              assign has_media = true
              assign default_image = product_card_product.featured_media | img_url
              assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio
              if product_card_product.featured_media.aspect_ratio == nil
                assign featured_media_aspect_ratio = 1
              endif
            -%}
          {% else %}
            {% assign has_media = false %}
            {% assign featured_media_aspect_ratio = 1 %}
          {%- endif -%}
          
          <div{% if add_image_padding %} class="card__media-full-spacer"{% endif %}>
            <div class="media media--transparent media--{{ media_size }} media--hover-effect{% if wine_icons_bg != "" %} wine-icons{% endif %}"
              {% if media_size == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;{% if wine_icons_bg != "" %} --wine-icons-ht: {{ wine_icons_ht }}px!important; --wine-icons-bg: {{ wine_icons_bg }}!important;{% endif %}"{% endif %}
            >
              <img 
                {% if product_card_product.featured_media %}
                   src="{{ product_card_product.featured_media | img_url: '904x' }}"
                   alt="{{ product_card_product.featured_media.alt | escape }}"
                {% else %}                                  
                   src="{{ default_image }}" style="width:100%;height:auto;"
                {% endif %}
                   loading="lazy"
                   class="motion-reduce"
                   width="{{ product_card_product.featured_media.width }}"
                   height="{{ product_card_product.featured_media.height }}"
                   >
              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
              <img 
                   src="{{ product_card_product.media[1] | img_url: '904x' }}"
                   alt="{{ product_card_product.media[1].alt | escape }}"
                   loading="lazy"
                   class="motion-reduce"
                   width="{{ product_card_product.media[1].width }}"
                   height="{{ product_card_product.media[1].height }}"
                   >
              {%- endif -%}          
            </div>
          </div>
  
          {%- if product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
          <div class="grid-product__on-sale card__badge">
            {% capture saved_amount %}{{ product_card_product.compare_at_price | minus: product_card_product.price | money_without_trailing_zeros }}{% endcapture %}
            {%- assign number1 =  product_card_product.compare_at_price | times: 1 -%}
            {%- assign number2 =  product_card_product.price | times: 1 -%}
            {%- assign number3=  number1  | minus: number2  -%}
            {%- assign number4=  number3  | times: 100  -%}
            {%- assign numberSale =  number4| divided_by: product_card_product.compare_at_price -%}
            <span class="badge badge--bottom-left" aria-hidden="true">-{{ numberSale }}%</span>
          </div>
          {%- endif -%}
  
        </div>
      </div>
    </div>                    

                                             
  
    <div class="card-information">
      <div class="card-information__wrapper">
        
        
        <div class="card-information__title-price">
        
          <div class="alt-card-info">
            <a href="{{ product_card_product.url | default: '#' }}">
              {{ product_card_product.title | strip_html | truncatewords: 10 }}
            </a>  
          </div>
          
          {% render 'price', product: product_card_product, price_class: '' %}      
  
        </div>  
  
        <div class="card-information__property">
          <div class="property__winery">
            <span class="prop">Winery</span>
            {{ product_card_product.vendor }}
          </div>
        </div>
        
        <div class="card-information__property">
              
          <div class="property__vintage">
            <span class="prop">Vintages</span>
            <div>
            {% assign inventory_total = 0 %}
            {% for variant in product_card_product.variants %}
              <div class="vintage__block">
                {%- if variant.title.size < 6 -%}
                  <div>{{ variant.title }} <span class="prop--line">/&nbsp;qnt.</span>{{ variant.inventory_quantity }}</div>
                  {% assign inventory_total = inventory_total | plus: variant.inventory_quantity %}
                  {%- if variant.inventory_quantity == 0 -%}
                    <div class="vintage-soldout">Sold Out</div>
                  {%  else  %}
                    {% if variant.metafields.custom.release_date != blank %}
                      {% assign release_date = variant.metafields.custom.release_date | date: '%s' %}
                      {% if release_date > today_date %} 
                        <div class="vintage-preorder" title="PRE-ORDER:{{ variant.metafields.custom.release_date | date: "%e %B %Y" }} Release">Pre-Order</div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
            </div>  
            
          </div>
  
          {% assign today_date = 'now' | date: '%s' %}
          {% assign current_vintage = product_card_product.selected_or_first_available_variant %}
          {% assign is_preorder_vintage = false %}
          {% assign release_date = 0 %} 
          {% assign alcohol_level = product_card_product.metafields.custom.alcohol %}
          {% if current_vintage.metafields.custom.release_date != blank %}
            {% assign release_date = current_vintage.metafields.custom.release_date | date: '%s' %}
            {% if release_date > today_date %} 
              {% assign is_preorder_vintage = true %}
            {% endif %}  
          {% endif %}
          {%- if current_vintage.metafields.custom.alcohol.value != blank -%}
            {% assign alcohol_level = current_vintage.metafields.custom.alcohol.value %}
          {% else %}
            {% if is_preorder_vintage == true %}
              {% comment %}We have no alc. for a future vintage so make suggestions based on wine color{% endcomment %}
              {% case product_card_product.metafields.custom.color %}
              {% when 'Red' %}
                {% assign alcohol_level = '13-15' %}
              {% when 'Amber' %}
                {% assign alcohol_level = '12-14' %}
              {% else %} {% comment %}Same for White and Rose{% endcomment %}
                {% assign alcohol_level = '11.5-13.5' %}
              {% endcase %}            
            {% endif %}
          {%-  endif -%} 

          <div class="property__type">
            <span class="prop">Wine type</span> 
            <div class="property__type-content">
              <img
                {% case product_card_product.metafields.custom.color %}
                  {% when 'Red' %}
                    src="{{ 'wg-red.svg' | asset_url }}"
                  {% when 'White' %}
                    src="{{ 'wg-white.svg' | asset_url }}"
                  {% when 'Amber' %}
                    src="{{ 'wg-amber.svg' | asset_url }}"
                  {% when 'Rose' %}
                    src="{{ 'wg-rose.svg' | asset_url }}"
                {% endcase %}
                alt="{{ product_card_product.metafields.custom.color | escape }}"
                title="{{ product_card_product.metafields.custom.color | escape }} Wine Type"  
              >
              {% if product_card_product.tags contains 'Sparkling' %}Sparkling
              {% else %}
                {%- if product_card_product.metafields.custom.sweetness != 'Dry' -%}
                  {{ product_card_product.metafields.custom.sweetness }}
                {%- endif %}
              {% endif %} 
              {{ product_card_product.metafields.custom.color }} | Alc.&nbsp;{{ alcohol_level }}% | Vol.&nbsp;{{ product_card_product.metafields.custom.volume}}
            </div>  
          </div>
  
          <div class="property__region">
            {%- if product_card_product.metafields.custom.region.value != blank -%}
              <span class="prop">Terroir</span>
                {{ product_card_product.metafields.custom.region }}
              {%- if product_card_product.metafields.custom.pdo.value != blank -%}
                &ndash;
                  {{ product_card_product.metafields.custom.pdo }} PDO
              {% else%}
                {%- if product_card_product.metafields.custom.subregion != blank -%}
                  &ndash; {{product_card_product.metafields.custom.subregion}}
                {%- endif %}
              {%- endif %}
              {%- if product_card_product.metafields.custom.village != blank -%}
                &ndash; 
                {% assign village_count = 0 %}
                {% for village in product_card_product.metafields.custom.village.value %}
                  {% if village_count != 0 %}
                    ·
                  {% endif %}  
                    {{village}}
                  {% assign village_count = village_count | plus: 1 %}                      
                {% endfor %}
              {%- endif %}
            {%- endif %}
          </div>
          
          <div class="property__grape">   
            {%- if product_card_product.metafields.custom.grapes.value != blank -%}
                {%  assign grape_percentage = product_card_product.metafields.custom.grape_percentage.value | reverse | reverse %} 
                <span class="prop">Grape</span>
                {% assign grape_count = 0 %}
                {% for grape in product_card_product.metafields.custom.grapes.value %}
                  {% if grape_count != 0 %}
                    ·
                  {% endif %}  
                  <span>
                    {{grape}}
                    {%- if grape_percentage[grape_count] != blank -%}
                      {{ grape_percentage[grape_count] }}%
                    {%- endif %}
                    {% assign grape_count = grape_count | plus: 1 %}   
                  </span>
                {% endfor %}                  
            {%- endif %}
          </div>
  
          <div class="property__specifications">
            {%- case product_card_product.metafields.custom.viticulture.value -%}
              {%- when 'Organic' -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organic.svg" title="Organic Vineyard">
              {%- when 'Organic Certified' -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-organiccert.svg" title="Certified Organic Vineyard">
              {%- when 'Biodynamic' -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bd.svg" title="Biodynamic Vineyard">
              {%- when 'Biodynamic Certified' -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-bdcert.svg" title="Certified Biodynamic Vineyard">
            {%- endcase -%}
            {%- if product_card_product.metafields.custom.qvevri.value == "Yes" -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-qvevri.svg" title="Qvevri">{%- endif -%}         
            {%- if product_card_product.metafields.custom.natural.value == "Yes" -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-natural.svg" title="Natural">{%- endif -%}         
            {%- if product_card_product.metafields.custom.unfiltered.value == "Yes" -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-unfiltered.svg" title="Unfiltered">{%- endif -%}         
            {%- if product_card_product.metafields.custom.agedinbarrel.value == "Yes" -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-agedinoak.svg" title="Aged in oak barrels">{%- endif -%}         
            {%- if product_card_product.metafields.custom.pdo.value != blank -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-pdo.svg" title="Protected Designation of Origin">{%- endif -%}
            {%- if coll_titles contains 'Women Winemakers' -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-vwoman.svg" title="Women Winemakers">{%- endif -%}
            {% for variant in product_card_product.variants %}
              {%- if variant.metafields.custom.award.value != blank -%}<img src="https://cdn.shopify.com/s/files/1/0654/1056/4327/files/i-awards.svg" alt="Wine Awards" title="Wine Awards available"">{%- endif -%}
            {% endfor %}
          </div>         
            
          <div class="property__instock">   
            {%-  if inventory_total != 0 -%}
              <span class="prop">In Stock</span>
              <b>{{ inventory_total }}</b>
            {%-  endif -%}
          </div>
  
        </div>  

        
      </div>
    </div>
  
  

</div>

