<div class="cart-content">
<div class="close-icon">{% render 'icon-close' %}</div>	
   <div id="cart_reload">
      <div class="cart_content">
          <div class="top-block-cart">
		       <div class="toggle-title">{{ 'sections.cart.title' | t }} <span>({{ cart.item_count }})</span></div>	
		  </div>
         <div class="cart-block-content">
            <ul class="cart_content-block">
               {% for item in cart.items %}
               <li class="tm_cart_block">            
                  <div class="tm-cart-image-block">
                     <a href="{{ item.url | within: collections.all }}">
                     <img class="cart__image" src="{{ item.image | img_url: '140x' }}"
                        alt="{{ item.image.alt | escape }}"
                        width="70"
                        height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
                        loading="lazy">
                     </a>
                  </div>
                  <div class="tm-productdetails">
                     <div class="product-item__title">
                        <a href="{{ item.url }}">
                          <span>{{ item.product.vendor }}</span>
                          {{ item.product.title }}
                        </a>
                        <div class="product-item__price">
                           <span class="quantity">{{ item.quantity }}</span>
                           x
                           {{ item.price | money }}
                        </div>
                        {%- unless item.product.has_only_default_variant -%}
                        {%- for option in item.options_with_values -%}
                        <div class="cart-variant">
                           <dt>{{ option.name }}:</dt>
                           <dd>{{ option.value }}</dd>
                        </div>
                        {%- endfor -%}     
                        {%- endunless -%}
                     </div>
                    <a class="item_remove_btn" href="javascript:void(0);" onclick="Shopify.removeItem({{ item.id }},{{ item.quantity }})">{% render 'icon-remove' %}</a>                                           
                  </div>					
               </li>                 
               {% endfor %}
            </ul>
         </div>
         {% if cart.item_count != 0 %}
         <div class="cart-summary">
            <div class="cart-total">
               <div class="cart-total-title">
                  <span class="cart__subtotal-title">{{ 'templates.cart.total' | t }}</span>
               </div>
               <div class="cart-product-count">
                  <span>{{ cart.item_count }}</span>
               </div>
            </div>
            <div class="subtotal">
               <span class="cart__subtotal-title">{{ 'templates.cart.subtotal' | t }}</span>
               <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
         </div>
         <div class="cart-viewcart">
            <a href="{{ routes.cart_url }}" class="dropdown-site-header__cart cart button button--full-width">{{ 'templates.cart.viewcart' | t }}</a>
            <a href="/checkout" class="dropdown-site-header__cart checkout button button--full-width">{{ 'sections.cart.checkout' | t }}</a>
         </div>
         {% else %}
        <div class="no-more-item">
          <div class="no-cart">
        {% render 'icon-cart-blank' %}
          </div>
         <div class="cart-empty">
            {{ 'templates.cart.empty' | t }}
         </div>
       <a href="{{ routes.all_products_collection_url }}" class="toggle-continue button">
      {{ 'general.continue_shopping' | t }}
    </a>
        </div>
         {% endif %}
      </div>
   </div>
</div>

<script>
  Shopify.removeItem = async function(id,quantity){
  await $.ajax({
    method:'POST',
    url:'/cart/change.js',
    data:{ id:id, quantity:0 },
    dataType: 'json'})
  	.done(function() {    
            $(".cart-count-bubble").load(" .cart-count-bubble > *");    		
    		$("#cart_reload").load("#cart_reload .cart_content > *");  
    })
}
</script>