{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}
<div class="collection-list-wrapper">
  <div class="page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %}">
      <h2 class="title-wrapper-with-link title">{{ section.settings.title | escape }}</h2>

    <slider-component class="slider-mobile-gutter">
      <ul class="collection-list grid grid--1-col{% if section.blocks.size < 5 %} grid--{{ section.blocks.size }}-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} collection-list--{{ section.blocks.size }}-items{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} negative-margin--small{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- for block in section.blocks -%}
          <li class="collection-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}">
            <div 
              class="card animate-arrow link{% if block.settings.collection.image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %} card--light-border"
            >
              <div class="card--stretch card-colored">
                {%- if block.settings.collection_image != blank -%}
                <a href="{{ block.settings.link }}">
                  <div{% if section.settings.image_padding %} class="card__media-spacer"{% endif %}>
                    {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
                    <div class="media{% if section.blocks.size > 1 %} media--{{ section.settings.image_ratio }}{% endif %} media--hover-effect overflow-hidden"
                      {% if section.settings.image_ratio == 'adapt' and section.blocks.size > 1 %}style="padding-bottom: {{ 1 | divided_by: block.settings.collection_image.aspect_ratio | times: 100 }}%;"{% endif %}>
                    {% comment %}<div class="collection-list-img" style="background:url({{ block.settings.collection_image | img_url: '240x' }}) no-repeat"></div>{% endcomment %}
                    <img
                        src="{{ block.settings.collection_image | img_url: '240x240' }}"
                        alt="{{ block.settings.collection.title | escape }}"
                        height="{{ block.settings.collection_image.height }}"
                        width="{{ block.settings.collection_image.width }}"
                        loading="lazy"
                        class="motion-reduce"
                      >
                    </div>
                  </div>
                </a>

                  <div class="card__text card__text-spacing card-colored card__text-hover">
                    {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
                    <h3>
                      {%- if block.settings.collection.title != blank -%}
                        {{- block.settings.collection.title | escape -}}
                      {%- else -%}
                        {{ 'onboarding.collection_title' | t }}

                      {%- endif -%}
                    </h3>
                  </div>
                   {%- if block.settings.collection_text != blank -%}
                      <div class="viewmore-btn">
                        <a href="{{block.settings.link}}">
                            {{ block.settings.collection_text}}
                        </a> 
                      </div>
                   {%- endif -%}
                
                  <div class="product_count">
                      {{block.settings.collection.all_products_count}} {{ 'sections.collection_list.product_title' | t }}
                  </div>
                
                {%- else -%}
                   <div class="{% if collection_image == blank %} placeholder{% endif %}">
                   {{ 'collection-4' | placeholder_svg_tag: 'collection-list__item' }}
    				</div>
                  <div class="card__text card__text-spacing card-colored card__text-hover">
                    {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
                    <h3>
                      {%- if block.settings.collection.title != blank -%}
                        {{- block.settings.collection.title | escape -}}
                      {%- else -%}
                        {{ 'onboarding.collection_title' | t }}

                      {%- endif -%}
                    </h3>
                  </div>
                   {%- if block.settings.collection_text != blank -%}
                      <div class="viewmore-btn">
                        <a href="{{block.settings.link}}">
                            {{block.settings.collection_text}}
                        </a> 
                      </div>
                   {%- endif -%}
                {%- endif -%}
              </div>
              </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden{% if section.blocks.size < 5 %} medium-hide{% endif %}{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-navigation' %}</button>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-navigation' %}</button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
      <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
        <a href="{{ routes.collections_url }}" class="button">{{ 'sections.collection_list.view_all' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "t:sections.collection-list.settings.image_padding.label"
    }

  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection_image.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "collection_text",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection_text.label",
          "default": "view more"
        },
		{
          "type": "url",
          "id": "link",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}