{{ 'section-tm_service.css' | asset_url | stylesheet_tag }}
<style>
  
  .service-block {
    background-color: {{ section.settings.bg_color}};
    
}
</style>


	<div class="service-block" data-section-id="{{ section.id }}" data-section-type="services-section">
    	<div class="page-width page-width-desktop">
          {% if section.blocks.size > 0 %}
            <div class="services-wrapper">
              <div class="services" id="services-{{ section.id }}">
                {%- assign i = 1 -%}
                  {% for block in section.blocks %} 
                  	<a href="{{ block.settings.button_link }}" class="service service-{{ i }}">
                      <div class="service-block service-block-{{ i }}">
                    	<div class="service-icon service-icon{{ block.id }}"></div>
                        	<div class="service-description"> 
                            	<div class="service-title">{{ block.settings.service-title | escape }}</div>
                                <div class="service-subtitle">{{ block.settings.service-subtitle }}</div>
                        	</div>
                        </div>
                </a>
                {% if block.settings.icon != blank %}
                <style>
                  .service-icon{{ block.id }} {background-image: url('{{ block.settings.icon | img_url: '70x' }}');}
                </style>
                {% endif %}
                {%- assign i = i | plus:1 -%}
                  {% endfor %}
              </div>
            </div>
          {% endif %}
          {% if section.blocks.size == 0 %}
            <div class="placeholder-noblocks">
              {{ 'homepage.onboarding.no_content' | t }}
            </div>
          {% endif %}      
  		</div>  
	</div>


{% schema %}
  {
	"name": "t:sections.tm_service.name",
  	"tag": "section",
  	"class": "spaced-section service-section spaced-section--full-width",
    "max_blocks": 4,
     
	"settings": [
    {
      "type": "color",
      "id": "bg_color",
      "default": "#AE194A",
      "label": "t:sections.tm_service.settings.bg_color.label"
    }
	],
    "blocks": [
      { 
        "type": "service_image",
        "name": "t:sections.tm_service.blocks.name",
        "settings": [
  		  {
            "type": "image_picker",
            "id": "icon",
            "label": "t:sections.tm_service.blocks.settings.icon.label"
          },
          {
            "type": "text",
            "id": "service-title",
            "label": "t:sections.tm_service.blocks.settings.service-title.label",
            "default": "service title"
          },
 		  {
            "type": "text",
            "id": "service-subtitle",
            "label": "t:sections.tm_service.blocks.settings.service-subtitle.label"            
          },
		          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.tm-subbanners.blocks.settings.button_link.label"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "t:sections.tm_service.presets.name",
        "category": "t:sections.tm_service.presets.category"
      }
    ]
  }
{% endschema %}
